*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none !important;
}

html,
body {
      position: relative;
      height: 100%;
      width: 100%;
      overflow-x: hidden;
}

.scroll{
    overflow-y: hidden;
}

.banner{
    display: flex;
    justify-content: center;
}

.banner .logo-top{
    width: 370px;
}

.mobileNav{
    display: none; 
    background-color: rgb(240, 196, 0); 
    justify-content: center; 
    position: absolute;
    z-index: 1000; 
    right: -1300px;
    transition: .8s;
    height: 100%;
    width: 100%;
}

.showMobile{
    right: 0;
}

.mobileNav ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobileNav ul li{
    margin: 35px 0;
}

.mobileNav ul li a{
    font-size: 30px;
    font-weight: bold;
    color: rgb(58, 55, 54);
}

.mobileNav ul li a:hover{
    color: #000;
}

.contact-mobile{
    align-self: center;
    font-size: 25px;
    background-color: rgb(216, 50, 50);
    border-radius: 50px;
    padding: 5px 22px;
    transition: .4s;
    color: #000;
}

.fa-phone.mobile{
    transform: rotate(90deg);
    font-size: 25px;
    margin-right: 6px;
}

.contact-mobile:hover{
    background-color: rgb(221, 91, 91);
}

.contact-mobile:hover .fa-phone{
    animation: fa-phone .8s;
}

.computerNav{
    background-color: rgb(240, 196, 0);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 7px -1px rgba(0,0,0,0.75);
 }
 
 .computerNav ul{
    display: flex;
    align-items: center;
 }
 .computerNav ul li a{
    display: inline-block;
    padding: 21px 15px;
    margin: 0 8px;
    font-weight: bold;
    color: rgb(58, 55, 54);
    font-size: 20px;
}

.computerNav ul li a:hover{
    color: black;
    transition: .7s;
}

.contact{
    font-size: 21px;
    background-color: rgb(216, 50, 50);
    border-radius: 50px;
    padding: 9px 25px;
    transition: .4s;
    color: #000;
}

.contact:hover{
    background-color: rgb(221, 91, 91);
}

.contact:hover .fa-phone{
    animation: fa-phone .8s;
}

.fa-phone{
    transform: rotate(90deg);
    font-size: 22px;
    margin-right: 6px;
}

.fa-bars{
    display: none;
}

.fa-times{
    display: none;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    position: relative;
}

h1{
    position: relative;
    padding: 20px;
    font-size: 52px;
}

h1 span{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    height: 8px;
    width: 101%;
    background-color: rgb(240, 196, 0);
    animation: span 1.5s;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.info{
    width: 300px;
    padding-left: 10px;
    text-align: left;
    font-size: 24px;
    margin-right: 120px;
    border-radius: 4px;
    background-color: #fff;
}

.options{
    margin: 10px 0 0 23px;
}

.circle{
    border-radius: 50%;
    border: 8px solid black;
    position: relative;
    background-color: #fff;
}

main .fa-wrench{
    position: relative;
    top: 0;
    left: 0;
    padding: 70px;
    font-size: 130px;
    transform-origin: bottom;
    animation: wrench 1.9s; 
}

.sticks{
    width: 1300px;
    position: absolute;
    z-index: -1;
    right: 300px;
}

footer{
    color: white;
    background-color: rgb(58, 55, 54);
    display: flex;
    height: 150px;
    margin-top: 650px;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

footer .rights{
    margin-bottom: 3px;
    font-size: 20px;
}

.fa-wrench{
    margin-left: 6px;
    color: rgb(240, 196, 0);
}

/*Animations*/

@keyframes fa-phone{
    0%{
        transform: rotate(90deg);
    }
    25%{
        transform: rotate(190deg);
    }
    50%{
        transform: rotate(90deg);
    }
    75%{
        transform: rotate(190deg);
    }
    100%{
        transform: rotate(90deg);
    }
}

@keyframes span{
    0%{
        width: 20px;
    }
    100%{
        width: 101%;
    }
}

@keyframes wrench{
    0%{
        transform: rotate(0deg);  
    }
    30%{
        transform: rotate(15deg); 
    }
    75%{
        transform: rotate(-15deg); 
    }
    100%{
        transform: rotate(0deg); 
    }
}

@media (max-width: 1300px){
    .computerNav ul li a{
        padding: 21px 10px;
        font-size: 18.5px;
    }

    .contact{
        font-size: 19px;
        cursor: pointer;
        border: none;
        background-color: rgb(216, 50, 50);
        border-radius: 50px;
        padding: 7px 20px;
        transition: .4s;
    }

    .fa-phone{
        transform: rotate(90deg);
        font-size: 20px;
        margin-right: 6px;
    }
}

@media (max-width: 1150px){
    nav{
        height: 65px;
    }

    .computerNav ul{
        display: none;
     }
     
     .mobileNav{
         display: flex;
     }

     .hamburger{
        position: absolute;
        right: 3%;
        display: block;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }

    .hamburger span{
        display: block;
        width: 35px;
        height: 6px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #000;
        transition: .5s;
        box-shadow: 0 2px 2px rgba(0,0,0,.2);
        border-radius: 1px;
    }

    .hamburger span:nth-child(1){
        transform: translate(-50%,-50%) translateY(-15px);
    }

    .hamburger span:nth-child(4){
        transform: translate(-50%,-50%) translateY(15px);
    }

    .hamburger.active span:nth-child(1){
        transform: translate(-50%,-50%) translateY(-25px);
        opacity: 0;
    }

    .hamburger.active span:nth-child(4){
        transform: translate(-50%,-50%) translateY(25px);
        opacity: 0;
    }

    .hamburger.active span:nth-child(2){
        transform: translate(-50%,-50%) rotate(45deg);
        transition-delay: .2s;
    }

    .hamburger.active span:nth-child(3){
        transform: translate(-50%,-50%) rotate(-45deg);
        transition-delay: .2s;
    }
}

@media (max-width: 770px){
    h1{
        font-size: 45px;
    }

    .info{
        font-size: 22px;
        margin-right: 70px;
    }

    main .fa-wrench{
        padding: 60px;
        font-size: 120px;
    }
}

@media (max-width: 680px){
    h1{
        font-size: 40px;
    }

    .info{
        font-size: 20px;
        margin-right: 30px;
    }

    main .fa-wrench{
        padding: 50px;
        font-size: 110px;
    }

    .circle{
        top: -30px;
    }
}

@media (max-width: 595px){
    h1{
        font-size: 35px;
    }

    .info{
        font-size: 20px;
        margin-right: 10px;
    }

    main .fa-wrench{
        padding: 40px;
        font-size: 80px;
    }

    .circle{
        top: -40px;
    }
}

@media (max-width: 530px){
    h1{
        font-size: 30px;
    }

    .info{
        font-size: 19px;
        margin-right: 0;
    }

    main .fa-wrench{
        padding: 30px;
        font-size: 70px;
    }

    .circle{
        top: -40px;
        border: 6px solid black;
    }
}

@media (max-width: 475px){
    .banner .logo-top{
        width: 330px;
    }
    
    h1{
        font-size: 27px;
    }

    .info{
        font-size: 18px;
        margin-right: 0;
    }

    main .fa-wrench{
        padding: 20px;
        font-size: 40px;
    }

    .circle{
        top: -50px;
        right: 5px;
        border: 3px solid black;
    }

    .mobileNav ul li{
        margin: 23px 0;
     }
     
     .mobileNav ul li a{
         font-size: 22px;
         font-weight: bold;
         color: rgb(58, 55, 54);
     }

     .contact-mobile{
        align-self: center;
        font-size: 25px;
        cursor: pointer;
        border: none;
        background-color: rgb(216, 50, 50);
        border-radius: 50px;
        padding: 5px 22px;
        transition: .4s;
    }
    
    .fa-phone.mobile{
        transform: rotate(90deg);
        font-size: 25px;
        margin-right: 6px;
    }
}

@media (max-width: 350px){
    footer p{
        font-size: 13px;
    }
}

@media (max-width: 320px){
    .banner .logo-top{
        width: 300px;
    }

    .mobileNav ul li{
        margin: 25px 0;
     }
     
     .mobileNav ul li a{
         font-size: 20px;
         font-weight: bold;
         color: rgb(58, 55, 54);
     }

     .contact-mobile{
        align-self: center;
        font-size: 22px;
        cursor: pointer;
        border: none;
        background-color: rgb(216, 50, 50);
        border-radius: 50px;
        padding: 5px 22px;
        transition: .4s;
    }
    
    .fa-phone.mobile{
        transform: rotate(90deg);
        font-size: 22px;
        margin-right: 6px;
    }

    footer p{
        font-size: 12px;
    }
}



